%% vim: ft=erlang

[{lager, [
      {colored, true},
      {handlers, [
          {lager_console_backend, [info, {lager_default_formatter, [
                  date, " ",
                  time, " ",
                  node, " ",
                  pid, " ",
                  module, ":", function, ":", line, " ",
                  color,
                  severity, " ",
                  message,
                  "\033[0m\n"
          ]}]}
      ]},
      {traces, [
%          {lager_console_backend, [{module, erad_transmitter}], debug}
      ]}
]}].
